.select {
  @include r-s16-h19;

  display: block;
  padding: 8px 16px;
  padding-right: 30px;

  margin: 0;

  font-family: inherit;

  color: $black;

  appearance: none;

  cursor: pointer;
  background-color: $silver-100;
  background-image: url('../src/assets/img/select.svg');
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid $purple-400;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;

  &:hover {
    border-color: $orange-100;
  }

  &:focus {
    border-color: $green-500;
  }
}
