@use 'ds-system/ds.scss';

#app {
  display: flex;
  flex-direction: column;

  min-width: 960px;
  min-height: 100vh;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;

  color: ds.$black;
  background-color: ds.$white;

  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}
